[project]
name = "Polaris"
description = "VSTPOL pipeline"
authors = [
    {name = "Evert Rol", email = "e.rol@uva.nl"}
    ]
readme = "README.md"
dynamic = ["version"]  # Derived from Git, with a fallback version

requires-python = ">=3.13,<3.15"
license = {text = "MIT"}
dependencies = [
    "astroalign ~= 2.6.2",
    "astropy ~= 7.1.0",
    "duckdb ~= 1.4.0",
    "numpy ~= 2.3.3",
    "pandas ~= 2.3.3",
    "photutils ~= 2.3.0",
    "scipy ~= 1.16.2",
    "sep ~= 1.4.1",
]

[project.optional-dependencies]
dev = [
    "pytest ~= 8.4.2",
    "ruff ~= 0.13.2",
    "pylint ~= 3.3.8",
    "setuptools_scm ~= 9.2.0",
]
extra = [
      "matplotlib ~= 3.10.6",
      "jupyter ~= 1.1.1",
]

# Standalone scripts; uncomment and reinstall if this functionality is
# wanted. Otherwise, use `python -m polaris.pipeline` or
# `python -m polaris.simulation` for the same functionality.
[project.scripts]
#polaris = "polaris.pipeline:main"
#polaris-sim = "polaris.simulation:main"

[tool.setuptools.packages.find]
where = ["src"]

[tool.ruff]
# Ignore the auto-generated file
exclude = ["src/polaris/version.py"]

[tool.flake8]
# Match Black's line length
max-line-length = 88

[tool.pylint]
# Iterator variables and a few special names
good-names = "i, j, k, n, fp"

[tool.pytest.ini_options]
testpaths = ["tests"]

[build-system]
requires = ["setuptools>=80", "setuptools_scm>=9"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
fallback_version = "0.1"
write_to = "src/polaris/version.py"
write_to_template = """
# coding: utf-8
# file generated by setuptools_scm
# don't change, don't track in version control
__version__ = version = "{version}"
__version_tuple__ = version_tuple = {version_tuple!r}
__git_hash__ = "{scm_version.node}"
__semantic_version__ = "{scm_version.tag}"
"""
